MuseoJava/Museo/xml-resources/web-service-references/Historico/wsdl/localhost_56660/Historico.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="devolverTodo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="devolverTodoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="devolverTodoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="devolverTodoSoapIn">
    <wsdl:part name="parameters" element="tns:devolverTodo" />
  </wsdl:message>
  <wsdl:message name="devolverTodoSoapOut">
    <wsdl:part name="parameters" element="tns:devolverTodoResponse" />
  </wsdl:message>
  <wsdl:portType name="HistoricoSoap">
    <wsdl:operation name="devolverTodo">
      <wsdl:input message="tns:devolverTodoSoapIn" />
      <wsdl:output message="tns:devolverTodoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HistoricoSoap" type="tns:HistoricoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="devolverTodo">
      <soap:operation soapAction="http://tempuri.org/devolverTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HistoricoSoap12" type="tns:HistoricoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="devolverTodo">
      <soap12:operation soapAction="http://tempuri.org/devolverTodo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Historico">
    <wsdl:port name="HistoricoSoap" binding="tns:HistoricoSoap">
      <soap:address location="http://localhost:56660/Historico.asmx" />
    </wsdl:port>
    <wsdl:port name="HistoricoSoap12" binding="tns:HistoricoSoap12">
      <soap12:address location="http://localhost:56660/Historico.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>